{% extends 'posts/base.html' %}

{% block content %}

<div class="container w-75">
    <div class="row mt-3">
        <div class="col">
            <h2 class="text-center">Suivre d'autres utilisateurs</h2>

            {% if error %}
            <p class="text-center">{{ error }}</p>
            {% endif %}

            <form method="POST" action="{% url 'subscription:subscription' %}">
                {% csrf_token %}

                <div class="d-flex justify-content-between">
                    <input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur" required>

                    <input class="btn btn-outline-dark" type="submit" value="S'abonner">
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h2 class="text-center">Abonnements</h2>

            <table class="table">
                {% for uf in user_follows %}
                    {% if uf.user == user %}
                    <tr>
                        <td class="col-10" style="border: 1px solid black;">{{ uf.followed_user }}</td>
                        <td class="col-2 text-center" style="border: 1px solid black;">
                            <a class="text-dark" href="{% url 'subscription:unsubscribe' uf.followed_user %}">Se désabonner</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h2 class="text-center">Abonnés</h2>

            <table class="table">
                {% for uf in user_follows %}
                    {% if uf.followed_user == user %}
                    <tr>
                        <td style="border: 1px solid black;">{{ uf.user }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}