{% extends 'authentication/base.html' %}

{% block content %}

<h2>Inscrivez-vous maintenant</h2>
<a href="{% url 'authentication:registration' %}">S'inscrire</a>

<h2>Connectez-vous</h2>

{% if form.errors %}
<p>Nom d'utilisateur ou mot de passe incorrect !</p>
{% endif %}

<form method="POST" action="{% url 'authentication:login' %}">
{% csrf_token %}

{{ form.username.label_tag }}
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}

<input type="submit" value="Se connecter">
</form>

{% endblock %}