{% extends 'authentication/base.html' %}

{% block content %}

<div class="col">
    <h2>Inscrivez-vous maintenant</h2>
    <a class="btn btn-outline-dark" href="{% url 'authentication:registration' %}">S'inscrire</a>
</div>

<div class="col">
    <h2>Connectez-vous</h2>

    {% if form.errors %}
    <p>Nom d'utilisateur ou mot de passe incorrect !</p>
    {% endif %}

    <form class="container w-75" method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}

        <div class="mb-3 d-flex flex-column">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="mb-3 d-flex flex-column">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <input class="btn btn-outline-dark" type="submit" value="Se connecter">
    </form>
</div>

{% endblock %}