{% extends 'authentication/base.html' %}

{% block content %}

{% if form.errors %}
<p>Il y a une erreur, veuillez réessayer.</p>
{% endif %}

<h1>Inscrivez-vous</h1>

<form class="container w-25" method="POST" action="{% url 'authentication:registration' %}">
    {% csrf_token %}

    <div class="mb-3 d-flex flex-column">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="mb-3 d-flex flex-column">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>

    <div class="mb-3 d-flex flex-column">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>

    <a class="btn btn-outline-dark" href="{% url 'authentication:login' %}">Retourner</a>
    <input class="btn btn-outline-dark" type="submit" value="S'inscrire">
</form>

{% endblock %}