{% extends 'posts/base.html' %}

{% block content %}

<h1>Créer une critique</h1>

<div style="border: 1px solid black;">
    <p>Vous êtes en train de poster en réponse à</p>
    {% include 'posts/ticket_snippet.html' %}
</div>

<form method="POST" action="{% url 'posts:create_review' ticket.title %}">
    {% csrf_token %}

    <fieldset>
        <legend>Critique</legend>
        
        <div>
            <label for="headline">Titre</label>
            <input type="text" name="headline" id="headline" maxlength=128 required>
        </div>
        
        <fieldset>
            <legend>Note</legend>
            {% for i in r %}
            <input type="radio" id="{{i}}" name="rating" value="{{i}}" required>
            <label for="{{i}}">- {{i}}</label>
            {% endfor %}
        </fieldset>

        <div>
            <label for="body">Commentaire</label>
            <textarea name="body" id="body" cols="30" rows="10" max_length=8192></textarea>
        </div>
    </fieldset>

    <input type="submit" value="Envoyer">
</form>

{% endblock %}