{% extends 'posts/base.html' %}

{% block content %}

<h1>Créer un ticket</h1>

<form method="POST" action="{% url 'posts:create_ticket' %}">
    {% csrf_token %}

    <div>
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" maxlength=128 required>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" max_length=2048></textarea>
    </div>

    <div>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg">
    </div>
    
    <input type="submit" value="Envoyer">
</form>

{% endblock %}