{% extends 'posts/base.html' %}

{% block content %}

<div class="row mt-3">
    <div class="col">
        <h1 class="text-center">Créer une critique</h1>

        <div class="border border-dark p-2">
            <p>Vous êtes en train de poster en réponse à</p>
            {% include 'posts/ticket_snippet.html' %}
        </div>

        <form class="border border-dark p-2" method="POST" action="{% url 'posts:create_review' ticket.title %}">
            {% csrf_token %}

            <legend>Critique</legend>
            
            <div class="d-flex flex-column mb-3">
                <label for="headline">Titre</label>
                <input type="text" name="headline" id="headline" maxlength=128 required>
            </div>
            
            <fieldset class="mb-3">
                <legend>Note</legend>
                <div class="d-flex justify-content-evenly">
                    {% for i in r %}
                    <div>
                        <input type="radio" id="{{i}}" name="rating" value="{{i}}" required>
                        <label for="{{i}}">- {{i}}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>

            <div class="d-flex flex-column mb-3">
                <label for="body">Commentaire</label>
                <textarea name="body" id="body" cols="30" rows="10" max_length=8192></textarea>
            </div>

            <div class="text-end mt-3">
                <input class="btn btn-outline-dark" type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</div>

{% endblock %}