{% extends 'posts/base.html' %}

{% block content %}

<h1>Créer une critique</h1>

<form method="POST" action="{% url 'posts:create_ticket_review' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
        <legend>Livre / Article</legend>

        <div>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" maxlength=128 required>
        </div>
    
        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" max_length=2048></textarea>
        </div>
    
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>
    </fieldset>

    <fieldset>
        <legend>Critique</legend>
        
        <div>
            <label for="headline">Titre</label>
            <input type="text" name="headline" id="headline" maxlength=128 required>
        </div>
        
        <fieldset>
            <legend>Note</legend>
            {% for i in r %}
            <input type="radio" id="{{i}}" name="rating" value="{{i}}" required>
            <label for="{{i}}">- {{i}}</label>
            {% endfor %}
        </fieldset>

        <div>
            <label for="body">Commentaire</label>
            <textarea name="body" id="body" cols="30" rows="10" max_length=8192></textarea>
        </div>
    </fieldset>

    <input type="submit" value="Envoyer">
</form>

{% endblock %}