{% extends 'posts/base.html' %}

{% block content %}

<a href="{% url 'posts:create_ticket'%}">Demander une critique</a>
<a href="{% url 'posts:create_ticket_review' %}">Créer une critique</a>

{% for post in posts %}
    {% if post.content_type == 'UNREVIEWED_TICKET' %}
        {% include 'posts/ticket_snippet.html' with ticket=post can_review=True %}
    {% elif post.content_type == 'REVIEWED_TICKET' %}
        {% include 'posts/ticket_snippet.html' with ticket=post can_review=False %}
    {% elif post.content_type == 'REVIEW' %}
        {% include 'posts/review_snippet.html' with review=post %}
    {% endif %}
{% endfor %}

{% endblock %}