{% extends 'posts/base.html' %}

{% block content %}

<div class="container w-50">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center">Vos posts</h1>
        </div>
    </div>

    {% for post in posts %}
    <div class="row">
        <div class="col">
            {% if post.content_type == 'TICKET' %}
                {% include 'posts/ticket_snippet.html' with ticket=post my_ticket=True %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'posts/review_snippet.html' with review=post my_review=True %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}