<div class="border border-dark mt-3 p-2">
    <div class="d-flex justify-content-between">
        {% if ticket.user == user %}
        <p>Vous avez demandé une critique</p>
        {% else %}
        <p>{{ ticket.user }} a demandé une critique</p>
        {% endif %}
        
        <p class="text-end">{{ ticket.time_created }}</p>
    </div>
    
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    
    {% if ticket.image.url != "" %}
    <img width="20%" src="{{ ticket.image.url }}"></img>
    {% endif %}

    {% if can_review %}
    <div class="text-end"><a class="btn btn-outline-dark" href="{% url 'posts:create_review' ticket.title %}">Créer une critique</a></div>
    {% endif %}

    {% if my_ticket %}
    <div class="text-end">
        <a class="btn btn-outline-dark" href="{% url 'posts:edit_ticket' ticket.title %}">Modifier</a>
        <a class="btn btn-outline-dark" href="{% url 'posts:delete_ticket' ticket.title %}">Supprimer</a>
    </div>
    {% endif %}
</div>